.trigger {
  @apply w-full border border-gray-300  flex justify-between items-center p-6 xl:p-7 border-none lg:text-xl leading-none;
  border-radius: 10px;
  background: #f1f1f1;
  box-shadow: 0px 10px 20px 0px #0000001a;
}
.dropdown {
  @apply absolute top-full left-0 w-full max-h-[150px] overflow-auto   z-10;
  background: #f1f1f1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
