@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: white;
  background: white;
  font-family: 'Rubik', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrap {
    @apply w-11/12 lg:w-[95%];
    margin: 0 auto;
    max-width: 1440px;
  }

  .hero-gradient {
    background: radial-gradient(50% 88.89% at 50% 50%, #FF9F00 40%, #F75900 100%);

  }

  .primary-gradient {
    background: linear-gradient(0deg, #FF9700, #FF9700),
      linear-gradient(180deg, #FFBA56 0%, #FF9700 24.5%, #EB8D00 100%);

  }

  .block-bg {
    @apply bg-white;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px #0000001A;

  }

  .shadow {
    box-shadow: 0px 0px 40px 0px #0000001A;

  }

  .input-shadow {
    box-shadow: 0px 20px 30px 0px #0000001A;

  }

  .primary-gradient {
    background: linear-gradient(180deg, #FFBA56 0%, #FF9700 24.5%, #EB8D00 100%);

  }
}

.paused {
  animation-play-state: paused;
}

.scale-up {
  animation: scaleUp 0.2s ease-in forwards;
}

@keyframes scaleUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}