.selectWrapper {
  @apply p-5 xl:p-8 shadow flex flex-col items-center lg:flex-row gap-2.5;
  border-radius: 10px;
  background: #f1f1f1;
  box-shadow: 0px 10px 20px 0px #0000001a;
}
.select {
  @apply min-w-max w-full rounded-xl text-white font-extrabold flex  justify-center items-center uppercase leading-none text-center p-2.5  appearance-none outline-none;

  font-size: clamp(16px, 2.5vw, 20px);
  transition: all 0.4s;

  &.location {
    @apply text-black;
    background: white;
  }
  &.landscaping {
    background: linear-gradient(180deg, #779c48 0%, #638834 19.5%, #456a16 100%);
  }
  &.arborist {
    background: linear-gradient(180deg, #9a489c 0%, #863488 19.5%, #6a1667 100%);
  }
  &.carpet-cleaning {
    background: linear-gradient(180deg, #48979c 0%, #348388 19.5%, #006767 100%);
  }
  &.lawnmowing {
    background: linear-gradient(180deg, #17763d 0%, #0d6c33 19.5%, #004e15 100%);
  }
  &.electrician {
    background: linear-gradient(180deg, #ffba56 0%, #ff9700 24.5%, #eb8d00 100%);
  }
  &.flooring {
    background: linear-gradient(180deg, #4dae91 0%, #399a7d 19.5%, #1b7c5f 100%);
  }
  &.locksmith {
    background: linear-gradient(180deg, #f6d421 0%, #ecca17 19.5%, #d8b603 100%);
  }
  &.pest-control {
    background: linear-gradient(180deg, #ff5656 0%, #ff0000 24.5%, #d70000 100%);
  }
  &.plumbing {
    background: linear-gradient(180deg, #48799c 0%, #346588 19.5%, #16476a 100%);
  }
  &.window-repair {
    background: linear-gradient(180deg, #dedede 0%, #aeaeae 19.5%, #767676 100%);
  }
  option {
    @apply text-lg font-normal;
    font-size: clamp(16px, 2.5vw, 16px);
    text-transform: lowercase;
  }
}
.availability {
  @apply p-5 font-extrabold text-black uppercase text-center  text-xl mb-10 bg-light-gray;
  border-radius: 10px;

  &.available {
    @apply text-white;
    background: linear-gradient(180deg, #779c48 0%, #638834 19.5%, #456a16 100%);
  }
  &.taken {
    @apply text-white;
    background: linear-gradient(180deg, #ff5656 0%, #ff0000 24.5%, #d70000 100%);
  }
}
