.availability {
  @apply p-5 font-extrabold text-black uppercase text-center  text-xl mb-10 bg-light-gray;
  border-radius: 10px;

  &.available {
    @apply text-white;
    background: linear-gradient(180deg, #779c48 0%, #638834 19.5%, #456a16 100%);
  }
  &.taken {
    @apply text-white;
    background: linear-gradient(180deg, #ff5656 0%, #ff0000 24.5%, #d70000 100%);
  }
}
